.TitleBefore {
  text-align: center;
  padding: 2em 2em 3em 2em;
  font-family: "Orbitron", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.7em;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .TitleBefore {
    padding: 2em 2em;
    font-size: 24px;
    line-height: 2em;
    letter-spacing: 1.5px;
  }
}

@media screen and (max-width: 576px) {
  .TitleBefore {
    font-size: 20px;
    line-height: 2.2em;
    letter-spacing: 1.7px;
  }
}
